name: Python Release
on:
  push: null
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1
  PYPI_TOKEN: ${{ secrets.PYPI_TOKEN_DIST }}
  DIST_DIR: ${{ github.sha }}
jobs:
  create_wheels_macos_arm64:
    name: Create wheels for MacOS M1
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
        - 3.8.16
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Install Python
      shell: bash
      run: 'echo $HOME

        export PYENV_ROOT="$HOME/.pyenv"

        command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"

        eval "$(pyenv init -)"

        pyenv shell ${{ matrix.python }}

        which pyenv

        which python

        pip install -U setuptools wheel setuptools-rust awscli

        cd ./bindings/python

        python setup.py bdist_wheel

        cd ../../

        aws s3 sync --exact-timestamps ./bindings/python/dist "s3://tokenizers-releases/python/$DIST_DIR"

        '
  upload_package:
    name: Upload package to PyPi
    runs-on: ubuntu-latest
    needs:
    - create_wheels_macos_arm64
    steps:
    - uses: actions/checkout@v1
    - name: Install Python
      uses: actions/setup-python@v1
    - name: Retrieve all wheels
      shell: bash
      run: 'pip install awscli

        aws s3 sync "s3://tokenizers-releases/python/$DIST_DIR" ./bindings/python/dist

        '
    - name: Install dependencies
      run: 'pip install setuptools wheel setuptools-rust

        '
    - name: Create source distribution
      working-directory: ./bindings/python
      run: sh build-sdist.sh
    - name: Upload to PyPi
      working-directory: ./bindings/python
      run: 'pip install twine

        twine upload dist/* -u __token__ -p "$PYPI_TOKEN"

        '
